@media (max-width: 768px) {

  .adaptive-block {
    display: block !important;
  }

  .adaptive-block .mantine-Grid-inner {
    display: block !important;
  }

  .adaptive-width {
    width: 100% !important;
    --col-max-width: 100% !important;
  }

  .adaptive-modal {
    --modal-size: 100% !important;
  }

  .adaptive-modal>.mantine-Modal-inner {
    padding: 0 !important;
  }

  .adaptive-modal>.mantine-Modal-inner>.mantine-Modal-content {
    min-height: 100dvh !important;
  }

  .adaptive-container {
    max-width: 100% !important;
  }

  .no-border-mobile {
    border: 0 !important;
  }
}

/* show on mobile */
@media (min-width: 768px) {
  .adaptive-show {
    display: none !important;
  }
}

/* скрытие боковой колонки на отдельных страницах */
.hided_column {
  min-height: 100% !important;
}

/* на телефоне блок скроется */
@media (max-width: 1100px) {
  .hided_column {
    display: none !important;
  }
}

