/* adaptive containers and grids */
.dmc-container {
    padding-top: 20px;
    max-width: 90%;
}

.dash-debug-menu__outer, .dash-debug-menu {
    display: none !important;
}

/* :root[data-mantine-color-scheme='dark'] {
    --mantine-color-body: var(--mantine-color-body);
} */